// This will hide "unwanted" content that was marked by the plugin
.cleanface:not(.they-live) [data-cleanface] {
  display: none !important;
}

// They live: instead of hiding the content
.cleanface.they-live {
  [data-cleanface] {
    position: relative;
    display: block;
  }

  [data-cleanface] {
    &:before {
      content: attr(data-theylive);
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      z-index: 10;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      font-size: 60px;
      font-weight: 900;
      text-transform: uppercase;
      background: white;
    }

    &:hover:before {
      background: rgba(white, .75);
    }
  }

  .side-clean-face:before {
    font-size: 40px;
  }
}
